<div class="hero">

    <div class="hero-left">
        <h1 class="hero-title">Portfolio ~ Gaëtan Lavit</h1>
        <h2 class="hero-subtitle">Développeur web avec une passion pour le numérique, je travaille à la fois sur le
            front-end et le back-end pour créer des solutions pratiques et efficaces.</h2>
        <button class="hero-action"><div class="hero-action-design"></div><span class="hero-action-text">Me contacter</span></button>
    </div>
    <div class="hero-bg1"> </div>
    <div class="hero-bg2"> </div>
    <div class="hero-bg3"> </div>
    <div class="hero-bg4"> </div>
    <div class="hero-bg5"> </div>
</div>