<div class="techno">
    <h3 class="techno-title">Technologies</h3>
    <div class="techno-container">
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-javascript.svg" alt="">
            </div>
            <p class="item-name">Javascript</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/css-logo.svg" alt="">
            </div>
            <p class="item-name">CSS</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/angular-icon.svg" alt="">
            </div>
            <p class="item-name">Angular</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-react.svg" alt="">
            </div>
            <p class="item-name">React</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-nodejs.svg" alt="">
            </div>
            <p class="item-name">NodeJS</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-csharp.png" alt="">
            </div>
            <p class="item-name">C Sharp</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-mysql.png" alt="">
            </div>
            <p class="item-name">MySQL</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-mongodb.png" alt="">
            </div>
            <p class="item-name">MongoDB</p>
        </div>
        <div class="techno-item">
            <div class="item-figure">
                <img width="32px" height="32px" src="../../../assets/img/logo-firebase.svg" alt="">
            </div>
            <p class="item-name">Firebase</p>
        </div>
    </div>
</div>