.techno {
    width: 100%;
    background: var(--clr-dark);
    padding: 48px 12%;
    opacity: 0;
    animation: technoFadeIn 1s ease forwards;
    animation-delay: 1s;
}

@keyframes technoFadeIn {
    100% {
        opacity: 1;
    }
}

.techno-title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 24px;
    color: var(--clr-text);
    letter-spacing: 0.05em;
    position: relative;
    margin-bottom: 12px;
}

.techno-title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 100px;
}

.techno-item {
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInUp 1s ease forwards;
}

.item-figure {
    width: 64px;
    height: 64px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    background-color: var(--clr-main);
    border-radius: 64px;
    transition: .5s;
}

.item-figure:hover {
    border: 2px solid var(--clr-accent);
}

.item-0 {
    animation-delay: 1.5s;
}

.item-1 {
    animation-delay: 2s;
}

.item-2 {
    animation-delay: 2.5s;
}

.item-3 {
    animation-delay: 3s;
}

.item-4 {
    animation-delay: 3.5s;
}

.item-5 {
    animation-delay: 4s;
}

.item-6 {
    animation-delay: 4.5s;
}

.item-7 {
    animation-delay: 5s;
}

@keyframes fadeInUp {
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.item-name {
    text-align: center;
    color: var(--clr-text);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
}
