<div class="techno">
    <!-- <h3 class="techno-title">Technologies</h3> -->
    <div class="grid-techno">
        <div class="grid-item">
            <div class="techno-item item-0">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-javascript.webp" alt="">
                </div>
                <p class="item-name">Javascript</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="techno-item item-1">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-css.webp" alt="">
                </div>
                <p class="item-name">CSS</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="techno-item item-2">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/angular-icon.svg" alt="">
                </div>
                <p class="item-name">Angular</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="techno-item item-3">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-react.svg" alt="">
                </div>
                <p class="item-name">React</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="techno-item item-4">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-nodejs.webp" alt="">
                </div>
                <p class="item-name">NodeJS</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="techno-item item-5">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-csharp.webp" alt="">
                </div>
                <p class="item-name">C Sharp</p>
            </div>
        </div>

        <div class="grid-item">

            <div class="techno-item item-6">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-mongodb.webp" alt="">
                </div>
                <p class="item-name">MongoDB</p>
            </div>
        </div>
        <div class="grid-item">

            <div class="techno-item item-7">
                <div class="item-figure">
                    <img width="32px" height="32px" src="../../../assets/img/logo-firebase.svg" alt="">
                </div>
                <p class="item-name">Firebase</p>
            </div>
        </div>
    </div>
</div>