<div class="project">
    <h3 class="project-title">Projets & Réalisations</h3>
    <div class="project-list">
        <div class="project-card">
            <div class="project-card-thumbnail" id="thumbnail-password"></div>
            <h4 class="project-card-title">Password Generator</h4>
            <p class="project-card-description">Petite application permettant la génération de mot de passe simple ou complexe.</p>
            <a target="_blank" href="https://password-generator-peach-nine.vercel.app/" class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt=""></a>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail" id="thumbnail-tic-tac-toe"></div>
            <h4 class="project-card-title">Jeu de morpion</h4>
            <p class="project-card-description">Jeu de morpion pour mieux gerer les composants et le passage de données sous Angular.</p>
            <a target="_blank" href="https://tic-tac-toe-angular-nine.vercel.app/" class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></a>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail" id="thumbnail-sushi"></div>
            <h4 class="project-card-title">Le Quai Des Mers (en cours)</h4>
            <p class="project-card-description">Site e-commerce mettant en avant les produits d'une poissonnerie en incluant un catalogue avec paiements.</p>
            <a target="_blank" href="https://sushi-gules-phi.vercel.app/" class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></a>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail" id="thumbnail-crypto"></div>
            <h4 class="project-card-title">Crypto-App (en cours)</h4>
            <p class="project-card-description">Suivi des données et statistiques liées aux crypto-monnaies grâce à une API externe</p>
            <a target="_blank" href="https://crypto-app-chi-beige.vercel.app/" class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></a>
        </div>
    </div>
</div>