<div class="project">
    <h3 class="project-title">Projets & Réalisations</h3>
    <div class="project-list">
        <div class="project-card">
            <div class="project-card-thumbnail" id="thumbnail-password"></div>
            <h4 class="project-card-title">Password Generator</h4>
            <p class="project-card-description">Petite application permettant la génération de mot de passe plus ou moins complexe.</p>
            <a target="_blank" href="https://password-generator-peach-nine.vercel.app/" class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt=""></a>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail"></div>
            <h4 class="project-card-title">Tableau de bord - Syndicat</h4>
            <p class="project-card-description">Gérer et administrer un syndicat, l'ensemble de ses adhérents ainsi que les mandataires.</p>
            <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></div>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail"></div>
            <h4 class="project-card-title">Dictionnaire en ligne</h4>
            <p class="project-card-description">Application utilisant une api afin d' afficher les données liées à un mot (phonétique, définitions etc)</p>
            <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></div>
        </div>
        <div class="project-card">
            <div class="project-card-thumbnail"></div>
            <h4 class="project-card-title">Little Horse</h4>
            <p class="project-card-description">Application de prédiction des résultats de courses hippiques grâce aux données</p>
            <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.webp" alt="Voir plus"></div>
        </div>
    </div>
</div>