<h3 class="project-title">Projets & Réalisations</h3>
<div class="project-list">
    <div class="project-card">
        <div class="project-card-thumbnail"></div>
        <h4 class="project-card-title">Réservation de sushis</h4>
        <p class="project-card-description">Site de commande réalisé pour le Quai des Mers. Mise en avant des produits.</p>
        <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.png" alt=""></div>
    </div>
    <div class="project-card">
        <div class="project-card-thumbnail"></div>
        <h4 class="project-card-title">Tableau de bord - Syndicat</h4>
        <p class="project-card-description">Gérer et administrer un syndicat, l'ensemble de ses adhérents ainsi que les mandataires.</p>
        <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.png" alt="Voir plus"></div>
    </div>
    <div class="project-card">
        <div class="project-card-thumbnail"></div>
        <h4 class="project-card-title">Dictionnaire en ligne</h4>
        <p class="project-card-description">Application utilisant une api afin d' afficher les données liées à un mot (phonétique, définitions etc)</p>
        <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.png" alt="Voir plus"></div>
    </div>
    <div class="project-card">
        <div class="project-card-thumbnail"></div>
        <h4 class="project-card-title">Little Horse</h4>
        <p class="project-card-description">Application de prédiction des résultats de courses hippiques grâce aux données</p>
        <div class="project-card-action"><img width="32px" height="32px" src="../../../assets/img/go-to.png" alt="Voir plus"></div>
    </div>
</div>