* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: #11181F;
    --clr-dark: #0E1419;
    --clr-accent: #5168E5;
    --clr-action-text: #fff;
    --clr-action-background: #0E1419;
    --clr-grey: #D2E8FF;
    --clr-text : #fff;
    --clr-accent-shadow : #5167e534;
}

@font-face {
    font-family: Kanit;
    src: url(./assets/fonts/Kanit-Regular.ttf);
}

body {
    background-color: var(--clr-main);
    font-family: Kanit;
}

body.light {
    --clr-main: #fff ;
    --clr-dark: hsl(231, 74%, 98%);
    --clr-accent: #5168E5;
    --clr-action-text: #fff;
    --clr-action-background: #5168E5;
    --clr-grey: #0E1419;
    --clr-text : #0E1419;
    --clr-accent-shadow : #5167e5c6;
}

.hidden {
    display: none;
}

.grid-techno {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}


.action {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--clr-action-text);
    padding: 12px 16px;
    background-color: var(--clr-action-background);
    border: 2px solid var(--clr-accent);
    outline: none;
    font-family: Kanit;
    position: relative;
    transition: .3s ease-in;
    cursor: pointer;
border-radius: 2px;
}

.action-design {
    transition: .3s ease;
    z-index: 10;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: var(--clr-accent);
    position: absolute;
}

.action-text {
    z-index: 100;
    position: relative;
}

.action:hover .action-design{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1440px) {
    .grid-techno {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat (2, 1fr);
        gap: 10px;
    }


}


@media screen and (max-width:600px) {
    .grid-techno {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat (4, 1fr);
        gap: 10px;
    }


}

.menu {
    width: 0%;
    height: 100%;
    background: var(--clr-dark);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 100%;
    transition: .6s;
    padding: 24px 12%;

}

.menu-displayed {
    width: 100%;
    left: 0;
}

.menu-close {
    cursor: pointer;
    padding: 8px;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-accent);
    color: var(--clr-text);
    border-radius: 2px;
}

.flex-right {
    display: flex;
    justify-content: end;
}

.menu-close:hover {
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
}

@keyframes shake {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}